<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Contact Us</h2>
                    <!-- <div class="product-carousel"> -->
                        <div class="row">
                            <div class="col-md-9">
                                <div class="panel panel-default">
                                    <form class="panel-body">
                                        <div class="col-md-6">
                                          <p>
                                            <label for="nama">Nama</label><br>
                                            <input name="nama" type="text" placeholder="Nama Lengkap" style="width:100%">
                                          </p>
                                          <p>
                                            <label for="email">Email</label><br>
                                            <input name="email" type="email" placeholder="Email" style="width:100%">
                                          </p>
                                          <p>
                                            <label for="subject">Subject</label><br>
                                            <input name="subject" type="text" placeholder="Subject" style="width:100%">
                                          </p>
                                        </div>
                                        <div class="col-md-6">
                                          <p>
                                            <label for="message">Pesan</label><br>
                                            <textarea name="message" placeholder="..." 
                                                style="height:180px;width:100%"></textarea>
                                          </p>
                                          <p class="form-group">
                                            <button class="btn btn-primary pull-right">Kirim Pesan</button>
                                          </p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h3><i class="glyphicon glyphicon-globe"></i> Kontak Kami</h3>
                                <hr>
                                <b>Malangsoftware.com</b><br><br>
                                <p><label>No.Telp: </label>0853-3014-5854</p>
                                <p><label>Email: </label>admin@malangsoftware.com</p>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        

        </div>
    </div>
</div> <!-- End main content area -->