<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Categories</h2>
                    <!-- <div class="product-carousel"> -->
                        <div class="row">
                            <div class="promo-area">
                                <div class="zigzag-bottom"></div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="single-promo promo1">
                                                <i class="fa fa-building"></i>
                                                <p>Perkantoran</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="single-promo promo2">
                                                <i class="fa fa-graduation-cap"></i>
                                                <p>Pendidikan</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="single-promo promo3">
                                                <i class="fa fa-institution"></i>
                                                <p>Industri</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="single-promo promo4">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                <p>Web Pribadi</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End promo area -->
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        

        </div>
    </div>
</div> <!-- End main content area -->
