<div class="zigzag-bottom"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="footer-about-us">
                <h2>Malang<span>Software</span></h2>
                <p>Solusi Terbaik Untuk Segala Masalah IT Anda. Kami Berikan Yang terbaik untuk anda</p>
                <div class="footer-social">
                    <a ng-href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a ng-href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a ng-href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                    <a ng-href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
                <h2 class="footer-wid-title">User Navigation </h2>
                <ul>
                    <li><a ng-href="#">My account</a></li>
                    <li><a ng-href="#">API</a></li>
                    <li><a ng-href="#">Partner</a></li>
                </ul>                        
            </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
                <h2 class="footer-wid-title">Our Services</h2>
                <ul>
                    <li><a ng-href="#">Back-End Development</a></li>
                    <li><a ng-href="#">Front-End Development</a></li>
                    <li><a ng-href="#">IT Consultant</a></li>
                    <li><a ng-href="#">Web Maintenance</a></li>
                    <li><a ng-href="#">Web Hosting Partner</a></li>
                </ul>                        
            </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
            <div class="footer-newsletter">
                <h2 class="footer-wid-title">Newsletter</h2>
                <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                <div class="newsletter-form">
                    <form action="#">
                        <input type="email" placeholder="Type your email">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>